.uno{
	color: #11bb11;
	font:caption;
	padding-bottom: 0px;
}
.dos{
	background-color: #2e3333;
	width:220px;
	height:800px;
}
.tres{
	background-color:#2e3333;
	color:#115ed2;
			    padding-right:490px;
    padding-left:479px;
}